#formulario {
    text-align: left;
    border: 1px solid;
    width: 350px;
    margin-left: 70px;
    margin-top: 80px;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 3px 3px 1px 0px #00000060
}

.itens {
    height: 250px;
}

.itens td .caixa {
    height: 30px;
    border: 1px groove gray;
    border-radius: 10px;
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
}

.itens td .caixa1 {
    height: 30px;
    border: 1px groove gray;
    border-radius: 10px;
    width: 100%;
    padding: 5px 15px;
    display: inline-block;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
}

.itens td .caixaHora {
    height: 30px;
    border: 1px groove gray;
    border-radius: 10px;
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
}